.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;

  color: white;
  background-color: rgb(0, 0, 0);

  .block {
    width: 600px;
    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;

    box-sizing: border-box;

    .blockT {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .sasha {
      color: rgb(255, 166, 181);
    }

    .zakhar {
      color: rgb(95, 210, 255);
    }

    p {
      font-size: 18px;

      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}
